html, body, header, .view {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background: url("../img/avocado.jpg") no-repeat center center fixed;
    height: 100%;
}

.shift, .delete-sushi {
    float: right;
    margin-left: 5px;
}

.delete-sushi {
    border: none;
}